/* 颜色 */
$color-primary: #FF8800; /* 主要颜色 */
$color-primary-text: #333333; /* 主要文本颜色： */
$color-second-text: #888888; /* 次要文本颜色 */
$color-emphasize-text: #FF8800; /* 强调文本颜色 */
$color-primary-bg: #F4F4F4; /* 主要背景色： */
$color-auxiliary-bg: #FFFFFF; /* 辅助背景色（如卡片、面板等） */
$color-emphasize-bg: #333333; /* 主要颜色 */

$border-radius-sm: 4px; // 小
$border-radius-base: 8px; // 基本
$border-radius-lg: 16px; // 大
$border-radius-bigger: 32px; // 更大
$border-radius-circle: 50%; // 圆

/* 内边距 */
$padding-size-sm: 4px; // 小
$padding-size-base: 8px; // 基本
$padding-size-sl: 12px; // 稍大
$padding-size-lg: 16px; // 大

/* 外边距 */
$margin-size-sm: 4px; // 小
$margin-size-base: 8px; // 基本
$margin-size-sl: 12px; // 稍大
$margin-size-lg: 16px; // 大

/* 文字尺寸 */
$font-size-sm: 12px; // 小
$font-size-base: 16px; // 基本
$font-size-lg: 20px; // 大
$font-size-h2: 22px; // 标题2
$font-size-h3: 18px; // 标题3
