.container {
  display: flex;
  position: relative;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 100%;

  .contentLeft {
    position: relative;
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    margin-right: $margin-size-lg;
    .contentLeftList{
      position: sticky;
      left: 0;
      top: 0;
      width: 100%;
    }
  }

  .contentMain {
    flex: 0 auto;
    width: 100%;
    padding: $padding-size-lg;
  }
}
