.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: $color-primary-bg;
  /* 父元素一定要给高度 */
}

// 头部
.header {
  display: flex;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  width: 100%;
  background: $color-auxiliary-bg;

  /* logo */
  .headerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
  }

  /* 标题 */
  .headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .headerTitleLink {
      font-size: $font-size-base;
      color: $color-second-text;
      padding: 0 $padding-size-sl;

      &:hover {
        color: $color-emphasize-text;
      }

      &.active {
        font-size: $font-size-lg;
        color: $color-emphasize-text;
      }
    }
  }
}

.content {
  flex: 1;
  height: calc(100% - 97px);
}

// 底部
.footer {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  height: 30px;
}
